@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

.App {
  font-family: sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: auto;
  height: 70px;
  border-radius: 10px;
  background-color: #462066;
}

.bars {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
